<div class="container">
  <div class="row">
    <div class="col-sm-6 d-flex justify-content-end" [@animation-banner]="stateBanner">
      <app-banner></app-banner>
    </div>

    <div class="col-sm-6 d-flex justify-content-start">
      <app-login
        *ngIf="login; else signUp"
        (showPanel)="showPanel($event)"
        [@animation-panel]="statePanel"
        (@animation-panel.start)="startAnimation()"
        (@animation-panel.done)="endAnimation()"
      ></app-login>
      <ng-template #signUp>
        <app-sign-up
          (showPanel)="showPanel($event)"
          [@animation-panel]="statePanel"
          (@animation-panel.start)="startAnimation()"
          (@animation-panel.done)="endAnimation()"
        ></app-sign-up>
      </ng-template>
    </div>
  </div>
</div>
